@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100vh;
    width: 100%; 
}

body {
    font-family: 'David Libre', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.row {
    margin-bottom: 0;
}
/*-------------------nav bar-----------------*/

.menu {
    margin: 20px 30px;
    font-size: 1rem;
    text-align: center;
}

.menu-row {
    align-items: right;
}

span fas {
    font-size: 30px;
}


/*-------------------banner-----------------*/

.banner {
    background: url('/static/assets/img/colour_beaker.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    min-height: 500px;
}

.banner > h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.title {
    font-size: 4rem;
    position: absolute;
    top: 22rem;
    right: 16px;
}

.comment {
    position: absolute;
    top: 27rem;
    right: 16px;
}

.options {
    font-size: 1.3rem;
    margin: 10px, 20px;
}

.option {
    text-align: center;
    padding: 2px 5px;
}

.text-center {
    padding-right: 0px;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 37rem;
}

/*-------------------table-----------------*/

td, th {
    width: 10%;
    margin:10px;
    text-align: center;
}

.form-control {
    margin: 8px 0px;
    padding: 6px 4px;
}

.fa-user-edit {
    margin-left: 1rem;
}

.btn-req {
    margin-left: 1rem;
}

.btn-add {
    margin-left: 0.52rem;
}

.btn-cadd {
    margin-left: 1rem;
}

/*-------------------Map-----------------*/

#map {
  height: 400px;
  width: 100%;
}

/*-------------------General-----------------*/



btn-gen {
    margin-bottom: 3rem;
}

#container-area {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    min-height: 35rem;
}

label {
    padding-bottom: 0px;
    font-size: 0.7rem;
    margin-bottom: 0px;
}

.fas {
    margin-top: 0.4rem;
}

td {
    font-weight: 300;
}

th {
    font-weight: 600;
    font-style: italic;
}

h1 {
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;
}

p {
    text-align: center;
}

/*-------------------footer-----------------*/

.note {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

footer {
    padding: 0;
    margin-top: 3rem;
}




/*-------------------colours-----------------*/

.navbar, footer, .dropdown-menu {
    background-color:#070707;
    color:#ff6c00;
}

.menu,  footer i, .fas, .nav-link, .dropdown-item, .title, .comment {
    color: #ff6c00
}

.footer-info {
    color: #ff6c00;
    font-size: 1.3rem;
}

.btn-primary {
    color: #071213;
    background-color:#30eef5;
    border-color: #30eef5;
}





@media screen and (max-width: 992px) {

.title {
    font-size: 3rem;
}

.comment {
    font-size: 1.5rem;
    top: 26rem;
}
}

@media screen and (max-width: 650px) {

.title {
    font-size: 2.4rem;
}

.comment {
    font-size: 1.5rem;
}
.th {
    font-size: 0.6rem;
}

.td {
    font-size: 0.8rem;
}



}