@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'David Libre', serif;
  font-size: 62.5%;
}

