{% extends 'base.html' %} 
{% block content %}

<h1>Add Solvents</h1>
<p>Please complete the form below and submit</p>

<form action="{{ url_for('addsolvents_add') }}" method="POST" class="form-row">

<div class="form-row col-12">
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="Name" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
         <input type="text" class="form-control" name="Supplier" placeholder="Supplier">
    </div>
</div>

<div class="form-row col-12">
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="Cat_no" placeholder="Cat no">
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="Grade" placeholder="Grade">
    </div>
</div>

<div class="form-row col-12">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="Min_Quantity" placeholder="Min Quantity">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="Quantity_Available" placeholder="Quantity Available">
    </div>
</div>

<div class="form-row col-12">
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="Quantity_Unit" placeholder="Quantity Unit">
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="Price" placeholder="Price">
    </div>
</div>


<div class="form-row col-12">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="Currency" placeholder="Currency">
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="Comment" placeholder="Comment">
    </div>
</div>

<div>
    <button class="btn btn-primary btn-sm btn-add" type="submit" name="action">Submit Solvent</button>
</div>
    </form>

{% endblock %}