{% extends 'base.html' %} {% block content %}

<h1>AdminConsumables</h1>

<div class="row">
  <form action="" method="POST" class="col s12">

    <div class="row">
        <div class="input-field col s6">
            <input id="Name" type="text" name="Name" class="validate" />
            <label for="name">Name:</label>
        </div>
        <div class="input-field col s6">
            <input id="Supplier" type="text" name="Supplier" class="validate" />
            <label for="Supplier">Supplier:</label>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s6">
            <input id="Cat_no" type="text" name="Cat_no" class="validate" />
            <label for="cat_no">Cat number:</label>
        </div>
        <div class="input-field col s6">
            <input id="Min_Quantity" type="text" name="Min_Quantity" class="validate"/>
            <label for="Min_Quantity">Min Quantity:</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="Quantity_Available" type="text" name="Quantity_Available" class="validate"/>
            <label for="Quantity_Available">Quantity Available:</label>
        </div>
        <div class="input-field col s6">
            <input id="Quantity_Unit" type="text" name="Quantity_Unit" class="validate"/>
            <label for="Quantity_Unit">Quantity Unit:</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input id="Price" type="text" name="Price" class="validate"/>
            <label for="Price">Price:</label>
        </div>
        <div class="input-field col s6">
            <input id="Currency" type="text" name="Currency" class="validate"/>
            <label for="Currency">Currency:</label>
        </div>
    </div>
  </form>
</div>

{% endblock %}
