{% extends 'base.html' %} {% block content %}

<h1>Update Consumables</h1>
<p>Please correct the required fields and update.</p>

<div class="row">
  <form action="{{url_for('conchange', consumable_id=consumable._id)}}" method="POST" class="col s12">

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Name" placeholder="Name" value="{{consumable.Name}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Supplier" placeholder="Supplier" value="{{consumable.Supplier}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Cat_no" placeholder="Cat no" value="{{consumable.Cat_no}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Min_Quantity" placeholder="Min Quantity" value="{{consumable.Min_Quantity}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Quantity_Available" placeholder="Quantity Available" value="{{consumable.Quantity_Available}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Quantity_Unit" placeholder="Quantity Unit" value="{{consumable.Quantity_Unit}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Price" placeholder="Price" value="{{consumable.Price}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Currency" placeholder="Currency" value="{{consumable.Currency}}">
            </div>
        </div>
        
        <div>
        <div>
            <button class="btn btn-primary btn-sm" type="submit" name="action">Update Consumable</button>
        </div>
        </div>
  </form>
</div>

{% endblock %}
