{% extends 'base.html' %}
{% block content %}

<h1>Consumables Inventory</h1>
<p>
  Please update the quantity via the edit icon,<i class="fas fa-user-edit"></i>.
</p>

<form action="{{url_for('consumables')}}" method="POST">
  <div class="search-row form-row col-12">
    <div class="form-group col-md-6">
      <input
        id="searchbtn"
        type="text"
        class="form-control"
        name="searchtxt"
        placeholder="Search....."
        value="{{searchtxt}}"
      />
    </div>
    <button class="btn btn-primary btn-sm btn-gen btn-cadd btn-search" type="submit">Search</button>
    {% if searchtxt %}
    <button
      class="btn btn-primary btn-sm btn-gen btn-cadd btn-search" type="submit" onclick="document.getElementById('searchbtn').value = ''">Show All</button>
    {% endif %}
  </div>
</form>

<p class="counter">{{counttxt}}: {{con_count}}</p>

{% for consumable in consumables %}

<table class="col-12 responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Supplier</th>
      <th>Cat no</th>
      <th>Min Quantity</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{consumable.Name}}</td>
      <td>{{consumable.Supplier}}</td>
      <td>{{consumable.Cat_no}}</td>
      <td>{{consumable.Min_Quantity}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Quantity Available</th>
      <th>Quantity Unit</th>
      <th>Price</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{consumable.Quantity_Available}}</td>
      <td>{{consumable.Quantity_Unit}}</td>
      <td>{{consumable.Price}}</td>
      <td>{{consumable.Comment}}</td>
    </tr>
  </tbody>
</table>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('conquantchange', consumable_id=consumable._id)}}"
  ><i class="fas fa-user-edit"></i
></a>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('deleteconsumable', consumable_id=consumable._id)}}"
  ><i class="fas fa-trash-alt"></i
></a>
<hr />

{% endfor %}
{% endblock %}
