{% extends 'base.html' %} 
{% block content %}

<h1>Consumables Inventory</h1>
<p>
  Please update the quantity via the edit icon,<i class="fas fa-user-edit"></i>.
</p>

<p class="counter">Number of available consumables: {{con_count}}</p>

{% for consumable in consumables %}

<table class="col-12 responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Supplier</th>
      <th>Cat no</th>
      <th>Min Quantity</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{consumable.Name}}</td>
      <td>{{consumable.Supplier}}</td>
      <td>{{consumable.Cat_no}}</td>
      <td>{{consumable.Min_Quantity}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Quantity Available</th>
      <th>Quantity Unit</th>
      <th>Price</th>
      <th>Currency</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{consumable.Quantity_Available}}</td>
      <td>{{consumable.Quantity_Unit}}</td>
      <td>{{consumable.Price}}</td>
      <td>{{consumable.Currency}}</td>
    </tr>
  </tbody>
</table>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('conquantchange', consumable_id=consumable._id)}}"
  ><i class="fas fa-user-edit"></i
></a>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('deleteconsumable', consumable_id=consumable._id)}}"
  ><i class="fas fa-trash-alt"></i
></a>
<hr />

{% endfor %} 
{% endblock %}
