{% extends 'base.html' %}
{% block content %}

<h1>Delete Consumable</h1>
<p>Please confirm your selection before deleting</p>

<div class="container">
	<div class="row">
		<p>You are about to delete <strong>{{consumable.Name}}</strong>, catalogue number
			<strong>{{consumable.Cat_no}}</strong>. Please press delete to continue with action or cancel to retun to
			consumable inventory.</p>
	</div>
	<div class="row delete-row">
		<a href="{{url_for('deleteconsumable_delete', consumable_id=consumable._id)}}" class="btn-delete btn btn-primary">Delete</a> 
        <a href="{{url_for('consumables')}}" class="btn-delete btn btn-primary">Cancel</a>
	</div>
</div>

{% endblock %}