{% extends 'base.html' %}
{% block content %}

<h1>Delete Solvent</h1>
<p>Please confirm your selection before deleting</p>

<div class="container">
	<div class="row">
		<p>You are about to delete <strong>{{solvent.Name}}</strong>, catalogue number
			<strong>{{solvent.Cat_no}}</strong>. Please press delete to continue with action or cancel to retun to
			solvents inventory.</p>
	</div>
	<div class="row">
		<a href="{{url_for('deletesolvent_delete', solvent_id=solvent._id)}}" class="btn btn-primary">Delete</a>
        <a href="{{url_for('solvents')}}" class="btn btn-primary">Cancel</a>
	</div>
</div>

{% endblock %}