{% extends 'base.html' %}
{% block content %}
<!-- Services-->
<section id="option-sec">
  <div class="container options">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Options</h2>
      <p class="section-subheading">What's on offer.</p>
    </div>
    <div class="row text-center col-12">
      <div class="col-md-6 col-lg-3 option">
        <span class="fa-stack fa-4x">
          <a href="{{url_for('solvents')}}"><i class="fas fa fa-flask fa-stack-1x fa-inverse"></i></a>
        </span>
        <h4>Solvents</h4>
        <p>
          Catalogue of solvents held in warehouse. Update quantities as they are
          removed.
        </p>
      </div>
      <div class="col-md-6 col-lg-3 option">
        <span class="fa-stack fa-4x">
          <a href="{{url_for('consumables')}}"><i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i></a>
        </span>
        <h4>Consumables</h4>
        <p>
          Catalogue of consumable product held onstock. Update quantities as
          they are removed.
        </p>
      </div>
      <div class="col-md-6 col-lg-3 option">
        <span class="fa-stack fa-4x">
          <a href="{{url_for('request_table')}}"><i class="fas fa-laptop fa-stack-1x fa-inverse" href="{{url_for('request_table')}}"></i></a>
        </span>
        <h4>Requests</h4>
        <p>
          Request new solvents and consumables to be purchased and add to the
          lists.
        </p>
      </div>
      <div class="col-md-6 col-lg-3 option">
        <span class="fa-stack fa-4x">
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Administrator</h4>
        <p>Administrator use only. Add, removing and update stock products.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
