{% extends 'base.html' %} 
{% block content %}

<h1>Solvent Update</h1>

<div class="row">
    <form action="{{url_for('solchange', solvent_id=solvent._id)}}" method="POST" class="col s12">

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Name" placeholder="Name" value="{{solvent.Name}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Supplier" placeholder="Supplier" value="{{solvent.Supplier}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Cat_no" placeholder="Cat no" value="{{solvent.Cat_no}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Grade" placeholder="Grade" value="{{solvent.Grade}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Min_Quantity" placeholder="Min Quantity" value="{{solvent.Min_Quantity}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Quantity_Available" placeholder="Quantity Available" value="{{solvent.Quantity_Available}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Quantity_Unit" placeholder="Quantity Unit" value="{{solvent.Quantity_Unit}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Price" placeholder="Price" value="{{solvent.Price}}">
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="Currency" placeholder="Currency" value="{{solvent.Currency}}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Comment" placeholder="Comment" value="{{solvent.Name}}">
            </div>
        </div>
        <div>
        <div>
            <button class="btn btn-primary btn-sm" type="submit" name="action">Submit Solvent</button>
        </div>
        </div>
    </form>
</div>
  

{% endblock %}