{% extends 'base.html' %}
{% block content %}

<h1>Solvents Stock Room</h1>

{% for solvent in solvents %}

<table class="col-12 responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Supplier</th>
      <th>Cat no</th>
      <th>Grade</th>
      <th>Min Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{solvent.Name}}</td>
      <td>{{solvent.Supplier}}</td>
      <td>{{solvent.Cat_no}}</td>
      <td>{{solvent.Grade}}</td>
      <td>{{solvent.Min_Quantity}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Quantity Available</th>
      <th>Quantity Unit</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{solvent.Quantity_Available}}</td>
      <td>{{solvent.Quantity_Unit}}</td>
      <td>{{solvent.Price}}</td>
      <td>{{solvent.Currency}}</td>
      <td>{{solvent.Comment}}</td>
    </tr>
  </tbody>
</table>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('solquantchange', solvent_id=solvent._id)}}"
  ><i class="fas fa-user-edit"></i
></a>
<a
  class="col-2 btn-floating btn-large waves-effect waves-light aqua"
  href="{{url_for('deletesolvent', solvent_id=solvent._id)}}"
  ><i class="fas fa-trash-alt"></i
></a>
<hr>

{% endfor %}
{% endblock %}
