{% extends 'base.html' %} 
{% block content %}

<h1>Solvents page</h1>

{% for solvent in solvents %}
<table class="responsive-table .table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Supplier</th>
      <th>Cat no</th>
      <th>Grade</th>
      <th>Min Quantity</th>
      <th>Quantity Available</th>
      <th>Quantity Unit</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><h5>{{solvent.Name}}</h5></td>
      <td>{{solvent.Supplier}}</td>
      <td>{{solvent.Cat_no}}</td>
      <td>{{solvent.Grade}}</td>
      <td>{{solvent.Min_Quantity}}</td>
      <td>{{solvent.Quantity_Available}}</td>
      <td>{{solvent.Quantity_Unit}}</td>
      <td>{{solvent.Price}}</td>
      <td>{{solvent.Currency}}</td>
      <td>{{solvent.Comment}}</td>
    </tr>
  </tbody>
</table>
{% endfor %} {% endblock %}
